@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
